<%= form_with(model: @murmur, local: true) do |form| %>
  <div class="murmur_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="murmur_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
